@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p,h1,h2,h3,h4,a{color:black; font-family: 'HSSaemaul-Regular';}
.header_wrap{position:relative; background-color: antiquewhite; width:100%; height:95px;}
.header_logo{position:relative; width:20%;}
.me-auto{ position:absolute; right:130px; font-weight: bold;}
.main-bg{
    height:300px;
    /* background-image: url(./img/bg.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mid-cont{ text-align: center; margin:0 auto;}


.nav-button{text-decoration: none; color:#515151;}
.loading{text-align: center;}
.morebtn{position:relative;}


.start{
    opacity:0;
}
.end{
    opacity:1;
    transition-duration: 0.5s;
}
.col-md-6{position:relative;}


.cart-box{position:fixed;  top:95px; background-color: rgba(255,255,255,0.5); right:0; border-radius: 10px;;}
.cart-box p{text-align: center;}
.cart-inner{width:100px;}



.alert-warning{text-align: center;}